@model Web.ViewModels.ManageFilmchequeModel

<h1>Block Filmcheque</h1>

@Html.ValidationSummary()

<form asp-controller="Filmcheque" asp-action="SetBlocked" asp-route-filmchequeNumber="@Model.Filmcheque.FilmchequeNumber" method="post">
    <div class="form-group">
        <label for="inputBlockReason">Block reason</label>
        <select name="BlockReason" id="inputBlockReason" class="form-control">
            @foreach (var blockReason in Model.BlockReasons)
            {
                <option value="@blockReason.Reason" selected="@(Model.Filmcheque.BlockedReason != null && Model.Filmcheque.BlockedReason.Reason == blockReason.Reason)">@blockReason.Reason</option>
            }
        </select>
    </div>
    
    <div class="form-group">
        <label for="inputRemark">Remark</label>
        <textarea class="form-control" id="inputRemark" name="Remark"></textarea>
    </div>

    <button type="submit" class="btn btn-danger">Block</button>
</form>