@model Web.ViewModels.FilmchequeModel

<h1>
    Create
    Filmcheque
</h1>

<form asp-controller="Filmcheque" asp-action="Store" method="post">
    <h3>Products: </h3>
    <ul class="list-group">
        @foreach (var productType in Model.ProductTypes)
        {
            <li class="list-group-item">
                <p class="list-group-item-text">
                <div class="flex justify-between items-center">
                    @productType.ProductTypeName
                    <button type="button" class="btn btn-primary add-product" data-product-id="@productType.ProductTypeName">Add</button>
                </div>
            </li>
        }
    </ul>

    <h2>Card</h2>
    <ul id="products">

    </ul>

    <h2>Printer</h2>
    <div class="form-group">
        <label for="inputPrinterNumber">Printer</label>
        <select name="PrinterNumber" id="inputPrinterNumber" class="form-control">
            @foreach (var printer in Model.Printers)
            {
                <option value="@printer.PrinterNumber">#@printer.PrinterNumber (@printer.IpAddress)</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Print</button>
</form>

<script>
    document.querySelectorAll('.add-product').forEach(function(elem){
        elem.addEventListener('click', function(evt){
                var productId = evt.target.dataset.productId;
                
                document.querySelector('#products').innerHTML += '<li>' + productId + '<input type="hidden" name="ProductTypes[]" value="'+productId+'"/> </li>'; 
            }); 
    });
</script>