@model Web.ViewModels.FilmchequeModel

<div class="row">
    <div class="flex items-center justify-between my-4">
        <h1 class="m-0">Filmcheques</h1>
        <a class="btn btn-success" style="display: inline-block" asp-area="" asp-controller="Filmcheque" asp-action="Create">Create</a>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Products</th>
            <th>Valid Until</th>
            <th>View</th>
            <th>Block</th>
        </tr>
        @foreach (var filmcheque in Model.Filmcheques)
        {
            <tr>
                <td>@filmcheque.FilmchequeNumber</td>
                <td>
                    <ul>
                        @foreach (var product in filmcheque.Products)
                        {
                            <li>@product.ProductTypeName (@product.Amount) - &euro; @product.Price</li>
                        }
                    </ul>
                </td>
                <td>@filmcheque.ValidUntil</td>
                <td>
                    <a asp-controller="Filmcheque"  class="btn btn-primary" asp-action="Show" asp-route-filmchequeNumber="@filmcheque.FilmchequeNumber">View</a>

                </td>
                <td>
                    @if (filmcheque.BlockedByEmployee == null)
                    {
                        <a class="btn btn-danger" asp-area="" asp-controller="Filmcheque" asp-action="Block" asp-route-filmchequeNumber="@filmcheque.FilmchequeNumber">Block</a>
                    }
                    else
                    {
                        <span style="font-weight: bold">Blocked</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>