@model Web.ViewModels.ManageFilmchequeModel

<h1>Filmcheque #@Model.Filmcheque.FilmchequeNumber</h1>
<form method="post">
    <div class="form-group">
        <label for="inputValidUntil">Valid Until</label>
        <input type="date" class="form-control" id="inputValidUntil" name="ValidUntil" value="@Model.Filmcheque.ValidUntil.ToString("yyyy-MM-dd")" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="inputSoldByWorkplace">Sold By</label>
        <select name="WorkplaceId" id="inputSoldByWorkplace" class="form-control" disabled="disabled">
            @foreach (var workplace in Model.Workplaces)
            {
                <option value="@workplace.WorkplaceNumber" selected="@(Model.Filmcheque.SaleWorkplace.WorkplaceNumber == workplace.WorkplaceNumber)">@workplace.Employee.Email (@workplace.Cinema.CinemaName)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="inputPrintWorkplace">Printed By</label>
        <select name="WorkplaceId" id="inputPrintWorkplace" class="form-control" disabled="disabled">
            @foreach (var workplace in Model.Workplaces)
            {
                <option value="@workplace.WorkplaceNumber" selected="@(Model.Filmcheque.PrintWorkplace.WorkplaceNumber == workplace.WorkplaceNumber)">@workplace.Employee.Email (@workplace.Cinema.CinemaName)</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="inputFilmchequeProducts">Products</label>
        <select multiple class="form-control" id="inputFilmchequeProducts" readonly="true">
            @foreach (var product in Model.Filmcheque.Products)
            {
                <option>@product.ProductTypeName (@product.Amount) - &euro; @product.Price</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="inputWorkplaceId">Blocked By</label>
        <select name="WorkplaceId" id="inputWorkplaceId" class="form-control" disabled="disabled">
            <option>Not blocked</option>
            @foreach (var employee in Model.Employees)
            {
                <option value="@employee.EmployeeNumber" selected="@(Model.Filmcheque.BlockedByEmployee != null && Model.Filmcheque.BlockedByEmployee.EmployeeNumber == employee.EmployeeNumber)">@employee.Email</option>
            }
        </select>
    </div>
    @if (Model.Filmcheque.BlockedByEmployee != null)
    {
        <div class="form-group">
            <label for="inputBlockReason">Block reason</label>
            <select name="BlockReason" id="inputBlockReason" class="form-control" disabled="disabled">
                @foreach (var blockReason in Model.BlockReasons)
                {
                    <option value="@blockReason.Reason" selected="@(Model.Filmcheque.BlockedReason != null && Model.Filmcheque.BlockedReason.Reason == blockReason.Reason)">@blockReason.Reason</option>
                }
            </select>
        </div>
        
        <div class="form-group">
            <label for="inputRemark">Remark</label>
            <textarea  class="form-control" id="inputRemark" disabled="disabled" name="Remark">@Model.Filmcheque.Remark</textarea>
        </div>
    }
</form>