<h1>Login</h1>
<form method="post">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="Password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="RememberMe"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>