<h1>Register</h1>
<form asp-controller="Account" asp-action="Register" method="post">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="Password">
    </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>