﻿@model Web.ViewModels.WorkplaceModel

<div class="row">

    <h1>Workplace</h1>
    <form asp-controller="Account" asp-action="UseWorkplace" method="post">
        <div class="form-group">
            <label for="inputWorkplaceId">Workplace</label>
            <select name="WorkplaceId" id="inputWorkplaceId" class="form-control">
                @foreach (var workplace in Model.Workplaces)
                {
                    <option value="@workplace.WorkplaceNumber">@workplace.WorkplaceName</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>