@model Web.ViewModels.ManageProductTypeModel

<h1>@(Model.ProductType.ProductTypeName == null ? "Create" : "Update") ProductType</h1>

<form asp-controller="ProductType" asp-action="@(Model.ProductType.ProductTypeName == null ? "Store" : "Update")" method="post">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" name="ProductTypeName" value="@Model.ProductType.ProductTypeName">
    </div>
    <div class="form-group">
        <label for="inputFilmNumber">For Movie</label>
        <select name="FilmNumber" id="inputFilmNumber" class="form-control">
            <option value="">All movies</option>
            @foreach (var film in Model.Films)
            {
                <option selected="@(Model.ProductType.FilmNumber == film.FilmNumber)" value="@film.FilmNumber">@film.Name</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>