@model Web.ViewModels.ProductTypeModel


<div class="row">
  <div class="flex items-center justify-between my-4">
        <h1 class="m-0">ProductTypes</h1>
        <a class="btn btn-success" style="display: inline-block" asp-area="" asp-controller="ProductType" asp-action="Create">Create</a>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        @foreach (var productType in Model.ProductTypes)
        {
            <tr>
                <td>@productType.ProductTypeName</td>
                <td>
                    <a class="btn btn-primary" asp-controller="ProductType" asp-action="Edit" asp-route-productTypeName="@productType.ProductTypeName">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="ProductType" asp-action="Delete" asp-route-productTypeName="@productType.ProductTypeName">Remove</a>
                </td>
            </tr>
        }
    </table>
</div>