@model Web.ViewModels.OnlineOrderModel

<div class="row">
    <div class="flex items-center justify-between my-4">
        <h1 class="m-0">Online Orders</h1>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Billing Address</th>
            <th>Shipping Address</th>
            <th>Personal Message</th>
            <th>Filmcheques</th>
        </tr>
        @foreach (var order in Model.OnlineOrders)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td>
                    @order.BillingAddress.Street <br/> @order.BillingAddress.City @order.BillingAddress.PostalCode</td>
                <td>
                    @order.ShippingAddress.Street <br/> @order.ShippingAddress.City @order.ShippingAddress.PostalCode</td>
                <td>@order.PersonalMessage</td>
                <td>
                    <ul>
                        @foreach (var filmcheque in order.Filmcheques)
                        {
                            <li>
                                <a asp-area="" asp-controller="Filmcheque" asp-action="Show" asp-route-filmchequeNumber="@filmcheque.FilmchequeNumber">Filmcheque #@filmcheque.FilmchequeNumber (@filmcheque.Products.Count products)</a>
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </table>
</div>