﻿@model Web.ViewModels.HomeModel
<div class="container-fluid">
    <div class="row">
        <h1 class="page-header">Dashboard</h1>

        <div class="flex justify-between">
            <div class="flex flex-col items-center">
                <div class="circle circle--green">
                    <span class="circle__title">@Model.FilmchequeCount</span>
                </div>
                <h3>Filmcheques</h3>
            </div>
            <div class="flex flex-col items-center">
                <div class="circle circle--teal">
                    <span class="circle__title">@Model.EmployeeCount</span>
                </div>
                <h3>Employees</h3>
            </div>
            <div class="flex flex-col items-center">
                <div class="circle circle--indigo">
                    <span class="circle__title">@Model.OrderCount</span>
                </div>
                <h3>Orders</h3>
            </div>
            <div class="flex flex-col items-center">
                <div class="circle circle--purple">
                    <span class="circle__title">@Model.ProductCount</span>
                </div>
                <h3>Products</h3>
            </div>
            <div class="flex flex-col items-center">
                <div class="circle circle--gray">
                    <span class="circle__title">@Model.CinemaCount</span>
                </div>
                <h3>Cinema's</h3>
            </div>
        </div>
    </div>
</div>

<h2 class="sub-header mt-3">Latest orders</h2>
<div class="container-fluid">

    <div class="row">
        <table class="table table-bordered table-striped table-responsive">
            <tr>
                <th>#</th>
                <th>Products</th>
                <th>Valid Until</th>
                <th>Source</th>
                <th>View</th>
            </tr>
            @foreach (var filmcheque in Model.Filmcheques)
            {
                <tr>
                    <td>@filmcheque.FilmchequeNumber</td>
                    <td>@filmcheque.Products.Count products</td>
                    <td>@filmcheque.ValidUntil</td>
                    <td>@(filmcheque.OrderNumber == null ? "In store" : "Order #" + filmcheque.OrderNumber)</td>
                    <td>
                        <a asp-controller="Filmcheque" class="btn btn-primary" asp-action="Show" asp-route-filmchequeNumber="@filmcheque.FilmchequeNumber">View</a>

                    </td>
                </tr>
            }
        </table>
    </div>
</div>