@model Web.ViewModels.ManageEmployeeModel

<div class="row">
    <h1>Edit</h1>

    <form asp-controller="Employee" asp-action="Update" method="post">
        <input type="email" name="Email" value="@Model.Employee.Email"/>
        <input type="password" name="Password"/>
    </form>
</div>