﻿@model Web.ViewModels.WorkplaceModel

<div class="row">
    <h1>Employees</h1>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        @foreach (var workplace in Model.Workplaces)
        {
            <tr>
                <td>@workplace.WorkplaceName</td>
                <td>
                    <a asp-area="" asp-controller="Workplace" asp-action="Edit" asp-route-employeeNumber="@workplace.WorkplaceNumber">Edit</a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Workplace" asp-action="Delete">Remove</a>
                </td>
            </tr>
        }
    </table>
</div>