@model Web.ViewModels.ManageEmployeeModel

<h1>Update Employee</h1>

<form asp-controller="Employee" asp-action="Update" method="post" asp-route-employeeNumber="@Model.Employee.EmployeeNumber">
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email" value="@Model.Employee.Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password <small>(Leave empty to keep current one)</small></label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="Password">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>