@model Web.ViewModels.EmployeeModel

<div class="row">
    <h1>Employees</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.EmployeeNumber</td>
                <td>@employee.Email</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Employee" asp-action="Edit" asp-route-employeeNumber="@employee.EmployeeNumber">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-employeeNumber="@employee.EmployeeNumber">Remove</a>
                </td>
            </tr>
        }
    </table>
</div>