﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}

.m-0{
    margin: 0;
}

.mt-3{
    margin-top: 1.8em;
}

.my-4{
    margin-top: 2em;
    margin-bottom: 2em;
}

.circle{
    height: 150px;
    width: 150px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.circle__title{
    font-size: 30px;
}

.circle--green{
    background-color: #38a169;
}

.circle--teal{
    background-color: #38b2ac;
}

.circle--blue{
    background-color: #4299e1;
}

.circle--indigo{
    background-color: #4c51bf;
}

.circle--purple{
    background-color: #805ad5;
}

.circle--gray{
    background-color: #a0aec0;
}

.sub-header{
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}