@model Web.ViewModels.ManageAddressModel

<h1>@(Model.Address.Email == null ? "Create" : "Update") Customer</h1>

<form asp-controller="Address" asp-action="@(Model.Address.Email == null ? "Store" : "Update")" asp-route-addressNumber="@Model.Address.AddressNumber" method="post">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Name" name="City" value="@Model.Address.City" required="required">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="Email" value="@Model.Address.Email" required="required">
    </div>
    <div class="form-group">
        <label for="inputFirstname">Firstname</label>
        <input type="text" class="form-control" id="inputFirstname" placeholder="Firstname" name="Firstname" value="@Model.Address.Firstname" required="required">
    </div>
    <div class="form-group">
        <label for="inputLastname">Lastname</label>
        <input type="text" class="form-control" id="inputLastname" placeholder="Lastname" name="Lastname" value="@Model.Address.Lastname" required="required">
    </div>
    <div class="form-group">
        <label for="inputStreet">Street</label>
        <input type="text" class="form-control" id="inputStreet" placeholder="Street" name="Street" value="@Model.Address.Street" required="required">
    </div>
    <div class="form-group">
        <label for="inputPostalCode">Postal Code</label>
        <input type="text" class="form-control" id="inputPostalCode" placeholder="Postal Code" name="PostalCode" value="@Model.Address.PostalCode" required="required">
    </div>
    <div class="form-group">
        <label for="inputCompanyName">Company Name</label>
        <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name" name="CompanyName" value="@Model.Address.CompanyName">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>