@model Web.ViewModels.AddressModel

<div class="row">
    <div class="flex items-center justify-between my-4">
        <h1 class="m-0">Customers</h1>
        <a class="btn btn-success" style="display: inline-block" asp-area="" asp-controller="Address" asp-action="Create">Create</a>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Address</th>
            <th>Name</th>
            <th>Email</th>
            <th>Company</th>
            <th>Edit</th>
        </tr>
        @foreach (var address in Model.Addresses)
        {
            <tr>
                <td>
                    @address.Street <br/> @address.City @address.PostalCode</td>
                <td>@address.Firstname @address.Lastname</td>
                <td>@address.Email</td>
                <td>@address.CompanyName</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Address" asp-action="Edit" asp-route-addressNumber="@address.AddressNumber">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>

<div class="row">
    <div class="flex items-center justify-between my-4">
        <h1 class="m-0">Customer data older than 2 years</h1>
        <a class="btn btn-danger" style="display: inline-block" asp-area="" asp-controller="Address" asp-action="AnonymizeOldAddresses">Anonymize All</a>
    </div>

    <table class="table table-bordered table-striped">
        <tr>
            <th>Address</th>
            <th>Name</th>
            <th>Email</th>
            <th>Company</th>
        </tr>
        @foreach (var address in Model.OldAddresses)
        {
            <tr>
                <td>
                    @address.Street <br/> @address.City @address.PostalCode</td>
                <td>@address.Firstname @address.Lastname</td>
                <td>@address.Email</td>
                <td>@address.CompanyName</td>
            </tr>
        }
    </table>
</div>